.target-form {
    .coordinates-block {
        position: relative;
        border: 1px dotted #32bfff;
        .btn-coordinates-block-delete {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}